<div *ngIf="raid" class="custom-container">
  <img class="img-responsive rounded" src={{raid.imgUrl}} alt="Default img">
  <div class="custom-top-left">{{raid.goal}}</div>
  <div class="custom-bottom-right">{{raid.location}}</div>
  <div class="custom-centered">{{raid.status}}</div>
</div>

<div class="btn-group">
  <a  routerLink="/raids/edit/{{raid.id}}" class="btn btn-primary">Edit</a>
  <a routerLink="/raids/delete/{{raid.id}}" class="btn btn-danger">Delete</a>
</div>
<a routerLink="/raids/{{raid.id}}" class="btn btn-info">Details</a>